/* NAV BARRRRRRR*/

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #desp{
    height: 10vh;
  }

.navbar  {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}

.navbar-navbar-inverse{
  background-color: rgba(0, 0, 0, 0.886);
}

.navbar-navbar-inverse li a{
  color: rgb(146, 143, 171);
}


/* HOME */
 #imagen-portada img{
  width: 100vw;
  height: 93vh;
 }

/* FORMULARIOS */

 /*DISENO FORMULARIO ALUMNOS */

 #formAlumnos{
  display: flex;
  flex-direction: column;
  display: flex;
  background-image: url('unif.png');
  color: black;
}

/*DISENO FORMULARIO ALUMNOS */

#formDocentes{
  display: flex;
  flex-direction: column;
  display: flex;
  background-image: url('unif.png');
  color: black;
  height: 100vh;
}

#formDocentes button{
  margin-top: 5vh;
}

.imagen-fondo {
  background-color: aliceblue;
  /* background-color: rgba(0, 0, 0, 0.7); Fondo negro con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 45vw;
  margin-left: 30vw;
  margin-top: 0vh;
  height: 100vh;
}

.imagen-fondo .container4 {
  background-color: transparent; 
  color: black;/* Fondo transparente para que se muestre el color de fondo del div padre */
}

.imagen-fondo .pf {
  color: white; /* Texto blanco para que sea visible sobre el fondo oscuro */
}






/*PRUEBASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/



